
*.xml
*.iml
*.class
Período 3/Estatística/Atividade 1/.Rhistory
Período 3/Estatística/Atividade 1/.RData
Período 3/Projeto de Programação/Aula 2/Ex3/.idea/.name
Período 3/Projeto de Programação/Aula 2/Ex2/.idea/.name
