
Periodo 2/modelo.docx
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/Exercício 2.iml
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/inspectionProfiles/profiles_settings.xml
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/misc.xml
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/modules.xml
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/vcs.xml
Periodo 2/Unidade 1/Aula 1/Exercício 2/.idea/workspace.xml
Periodo 2/Unidade 1/Aula 2/Exercício 1/.idea/Exercício 1.iml
Periodo 2/Unidade 1/Aula 2/Exercício 1/.idea/inspectionProfiles/profiles_settings.xml
Periodo 2/Unidade 1/Aula 2/Exercício 1/.idea/misc.xml
Periodo 2/Unidade 1/Aula 2/Exercício 1/.idea/modules.xml
Periodo 2/Unidade 1/Aula 2/Exercício 1/.idea/vcs.xml
Periodo 2/Unidade 2/Aula 1/Exercício 1/.idea/Exercício 1.iml
Periodo 2/Unidade 2/Aula 1/Exercício 1/.idea/inspectionProfiles/profiles_settings.xml
Periodo 2/Unidade 2/Aula 1/Exercício 1/.idea/misc.xml
Periodo 2/Unidade 2/Aula 1/Exercício 1/.idea/vcs.xml
